<section class="reset" *ngIf="action == 'create' || action == 'join'">
  <button mat-icon-button color="secondary" (click)="reset()"><mat-icon>chevron_left</mat-icon></button>
</section>

<div class="container">
  <section class="choice" *ngIf="!action">
    <button mat-raised-button class="btn" color="primary" (click)="setAction('create')">Créer une partie</button>
    <button mat-raised-button class="btn" color="warn" (click)="setAction('join')">Rejoindre une partie</button>
  </section>

  <section class="error" *ngIf="error">
    <p class="error">{{error}}</p>
  </section>

  <section class="createRoom" *ngIf="action == 'create' && !error">
    <form [formGroup]="formCreateRoom" (ngSubmit)="onSubmitCreateRoom()">
      <mat-form-field>
        <mat-label>Votre pseudo</mat-label>
        <input matInput type="text" title="username" [formControl]="formCreateRoom.controls['username']">
      </mat-form-field>

      <div class="form-group">
        <button mat-raised-button color="primary" class="btn" [disabled]="!formCreateRoom.valid" type="submit">Créer</button>
      </div>
    </form>
  </section>

  <section class="joinRoom" *ngIf="action == 'join' && !error">
    <!-- GET ROOM -->
    <form [formGroup]="formGetRoom" (ngSubmit)="onSubmitGetRoom()" *ngIf="!roomName">
      <mat-form-field>
        <mat-label>ID du salon</mat-label>
        <input matInput type="text" title="roomName" [formControl]="formGetRoom.controls['roomName']">
      </mat-form-field>

      <div class="form-group">
        <button mat-raised-button color="primary" class="btn" [disabled]="!formGetRoom.valid" type="submit">Rejoindre</button>
      </div>
    </form>

    <!-- JOIN ROOM -->
    <div *ngIf="roomName">
      <form [formGroup]="formJoinRoom" (ngSubmit)="onSubmitJoinRoom()">
        <mat-form-field>
          <mat-label>Votre pseudo</mat-label>
          <input matInput type="text" title="username" [formControl]="formJoinRoom.controls['username']">
        </mat-form-field>

        <div class="form-group">
          <button mat-raised-button color="primary" class="btn" [disabled]="!formJoinRoom.valid" type="submit">Rejoindre</button>
        </div>
      </form>
    </div>

  </section>
</div>
