<div class="wrapper">
  <section class="choice" *ngIf="!action">
    <button mat-flat-button class="btn" color="primary" (click)="setAction('create')">Créer une partie</button>
    <button mat-flat-button class="btn" color="warn" (click)="setAction('join')">Rejoindre une partie</button>
  </section>

  <section class="createRoom" *ngIf="action === 'create'">
    <p>
      <strong>Créez</strong> une salon et transmettez son nom à vos amis pour qu'ils puissent vous rejoindre. Dès que 2 joueurs vous auront rejoins, vous pourrez débuter la partie ! Dès qu'une personne buzze, la chanson s'arrête automatiquement, à vous de décider si la réponse donnée à l'oral est correcte ou non. Si c'est le cas, la chanson suivante se lancera, sinon, la chanson reprendra jusqu'à ce que quelqu'un buzz à nouveau.

    </p>
    <form [formGroup]="formCreateRoom" (ngSubmit)="onSubmitCreateRoom()">
      <mat-form-field>
        <mat-label>Votre pseudo</mat-label>
        <input matInput type="text" title="username" [formControl]="formCreateRoom.controls['username']">
      </mat-form-field>

      <div class="form-group">
        <button mat-flat-button color="primary" class="btn" [disabled]="!formCreateRoom.valid" type="submit">Créer</button>
      </div>
    </form>
  </section>

  <section class="joinRoom" *ngIf="action === 'join'">
    <p>
      <strong>Rejoignez</strong> un salon grâce à son nom que l'on vous a communiqué, choisissez un pseudo et attendez que la partie débute. Ensuite, rien de plus simple, buzzez dès que vous pensez avoir reconnu une chanson.

    </p>
    <!-- GET ROOM -->
    <form [formGroup]="formGetRoom" (ngSubmit)="onSubmitGetRoom()" *ngIf="!roomName">
      <mat-form-field>
        <mat-label>Nom du salon</mat-label>
        <input matInput type="text" title="roomName" [formControl]="formGetRoom.controls['roomName']">
      </mat-form-field>

      <div class="form-group">
        <button mat-flat-button color="primary" class="btn" [disabled]="!formGetRoom.valid" type="submit">Rejoindre</button>
      </div>
    </form>

    <!-- JOIN ROOM -->
    <div *ngIf="roomName">
      <form [formGroup]="formJoinRoom" (ngSubmit)="onSubmitJoinRoom()">
        <mat-form-field>
          <mat-label>Votre pseudo</mat-label>
          <input matInput type="text" title="username" [formControl]="formJoinRoom.controls['username']">
        </mat-form-field>

        <div class="form-group">
          <button mat-flat-button color="primary" class="btn" [disabled]="!formJoinRoom.valid" type="submit">Rejoindre</button>
        </div>
      </form>
    </div>

    <section class="error" *ngIf="error">
      <p class="error">{{error}}</p>
    </section>
  </section>
</div>
