section.choice {
  text-align: center;

  button {
    width: 90%;
    height: 45px;
    line-height: 45px;
    margin: 20px auto;
  }
}

section.currRoom {
  button {
    width: 90%;
    margin-top: 20px;
    height: 45px;
    line-height: 45px;
  }
}
