header {
  text-align: center;
  background-color: #c2185b;
  width: 100%;
  height: 45px;
}

header h1 {
  line-height: 45px;
}

button.goBack.hide {
  display: none !important;
}

.goBack {
  font-size: 2em;
}
