section.create {
  display: flex;
  flex-direction: column;
  height: 100%;
  align-items: center;
  text-align: center;
}

mat-radio-group {
  display: flex;
  flex-direction: column;
  height: 100%;
  align-items: flex-start;

  margin: 20px 0;

  text-align: center;
}
