<section class="join">
  <h2>Rejoindre une partie</h2>

  <div *ngIf="!roomCode">
    <form [formGroup]="formCode" (ngSubmit)="onSubmitCode()">
      <mat-label>Code du salon: </mat-label>
      <input matInput type="text" formControlName="roomCode">

      <div class="form-group">
        <button mat-raised-button color="primary" type="submit">Rejoindre</button>
      </div>
    </form>
  </div>

  <div *ngIf="roomCode">
    <div *ngFor="let room of $room | async">
      <h3>Salon : {{ room.code }}</h3>
      <p>Joueurs connectés :</p>
      <ul>
        <li *ngFor="let player of room.players">{{ player }}</li>
      </ul>
    </div>

    <div *ngIf="!pseudoSubmitted">
      <h3>Rejoindre ce salon :</h3>

      <form [formGroup]="formPseudo" (ngSubmit)="onSubmitPseudo()">
        <mat-label>Votre pseudo: </mat-label>
        <input matInput type="text" formControlName="pseudo">

        <div class="form-group">
          <button mat-raised-button color="primary" type="submit">Rejoindre</button>
        </div>
      </form>
    </div>
  </div>
</section>
