<section class="admin" *ngIf="room">
  <p>ID du salon : {{room._id}}</p>

  <mat-list *ngIf="room && room.players.length > 0">
    <mat-list-item *ngFor="let player of leaderboard; let i = index">
      #{{i+1}} - {{player.name}} ({{player.score}} point<span *ngIf="player.score > 1">s</span>)
    </mat-list-item>
  </mat-list>

  <div *ngIf="room.status == 'waiting'">
    <button mat-raised-button color="primary" *ngIf="!accessToken" class="btn" (click)="spotifyService.spotifyConnect()">Spotify Connect</button>
    <button mat-raised-button color="primary" *ngIf="accessToken" [disabled]="room.players.length <= 1 && !accessToken" class="btn" (click)="startGame()">START</button>
  </div>

  <div *ngIf="room.status == 'playing'">
    <button mat-raised-button class="mini-btn" color="accent" [disabled]="room.isBuzzable" (click)="answerIsCorrect()">Correct</button>
    <button mat-raised-button class="mini-btn" color="warn" [disabled]="room.isBuzzable" (click)="answerIsWrong()">Wrong</button>
  </div>

</section>
