<section class="admin" *ngIf="room">
  <p>id : {{room._id}}</p>
  <p>status : {{room.status}}</p>

  <ul *ngIf="room && room.players.length > 0">
    <li *ngFor="let player of room.players">{{player}} <span *ngIf="room.admin == player">(admin)</span></li>
  </ul>

  <div *ngIf="room.status == 'waiting'">
    <button mat-raised-button color="primary" *ngIf="!accessToken" class="btn" (click)="spotifyService.spotifyConnect()">Spotify Connect</button>
    <br>
    <button mat-raised-button color="primary" [disabled]="room.players.length <= 2" class="btn" (click)="startGame()">START</button>
    <!--<button mat-raised-button color="primary" [disabled]="!accessToken" class="btn" (click)="search()">Search</button>-->
  </div>
</section>
