@import "../node_modules/@angular/material/prebuilt-themes/pink-bluegrey.css";

html, body { height: 100%; }
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background: #424242cc;
  color: white;
}

#app {
  height: 100vh;
  max-width: 800px;
  margin: 0 auto;
  background: #424242;
}

.container {
  height: 100%;
  padding: 15px 15px 0 15px;
  text-align: center;
}

mat-form-field, .btn {
  width: 80%;
  display: block;
  margin: 10px auto;
}

input {
  text-align: center;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

.mini-icon {
  height: 16px;
  width: 16px;
  font-size: 16px;
}

#spinner {
  width: 50px;
  height: 50px;
  border-radius: 100%;
  margin: auto;
  position: absolute;
  left: 0; right: 0; top: 0; bottom: 0;
  color: #f00;
  -webkit-animation: color-bubble 2s linear 0s infinite;
  animation: color-bubble 2s linear 0s infinite;
}

#spinner:after, #spinner:before {
  content: '';
  position: absolute;
  left: 0; right: 0; top: 0; bottom: 0;
  border-radius: 100%;
  box-shadow: 0 0 0 3px;
  -webkit-animation: spinner-bubble 1.3s linear 0s infinite;
  animation: spinner-bubble 1.3s linear 0s infinite;
  margin: auto;
  width: 10px;
  height: 10px;
  opacity: 0;
}

#spinner:before {
  -webkit-animation: spinner-bubble 1.3s linear 2s infinite;
  animation: spinner-bubble 1.3s linear 2s infinite;
}


/* ANIMATIONS */

@-webkit-keyframes spinner-bubble {
  from {
    width: 10px;
    height: 10px;
    opacity: .8;
  }
  to {
    width: 50px;
    height: 50px;
    opacity: 0;
  }
}

@keyframes spinner-bubble {
  from {
    width: 10px;
    height: 10px;
    opacity: .8;
  }

  to {
    width: 50px;
    height: 50px;
    opacity: 0;
  }
}
@-webkit-keyframes color-bubble {
  0% { color: #009DDC;}
  33% { color: #50B949;}
  66% { color: #EE2D24;}
  100% { color: #FEB825;}
}
@keyframes color-bubble {
  0% { color: #009DDC;}
  33% { color: #50B949;}
  66% { color: #EE2D24;}
  100% { color: #FEB825;}
}

/* USEFUL CLASSES */

.vas { vertical-align: sub; }

.ml5 { margin-left: 5px; }

.tac { text-align: center;}
.tal { text-align: left;}
